In [2]:
import pandas as pd
import numpy as np

In [3]:
ds=pd.read_csv("ds.csv")
ds

   Hours studied(x)  Score(y)
0                 1         2
1                 2         3
2                 3         5
3                 4         7
4                 5         8

In [4]:
x_mean=ds['Hours studied(x)'].mean()
y_mean=ds['Score(y)'].mean()
print(x_mean,y_mean)

3.0 5.0

In [5]:
ds['x-x_mean']=ds['Hours studied(x)']-x_mean
ds

   Hours studied(x)  Score(y)  x-x_mean
0                 1         2      -2.0
1                 2         3      -1.0
2                 3         5       0.0
3                 4         7       1.0
4                 5         8       2.0

In [6]:
ds['y-y_mean']=ds['Score(y)']-y_mean
ds

   Hours studied(x)  Score(y)  x-x_mean  y-y_mean
0                 1         2      -2.0      -3.0
1                 2         3      -1.0      -2.0
2                 3         5       0.0       0.0
3                 4         7       1.0       2.0
4                 5         8       2.0       3.0

In [7]:
ds['x_diff*y_diff']=ds['x-x_mean']*ds['y-y_mean']
ds

   Hours studied(x)  Score(y)  x-x_mean  y-y_mean  x_diff*y_diff
0                 1         2      -2.0      -3.0            6.0
1                 2         3      -1.0      -2.0            2.0
2                 3         5       0.0       0.0            0.0
3                 4         7       1.0       2.0            2.0
4                 5         8       2.0       3.0            6.0

In [8]:
ds['x_diff**2']=ds['x-x_mean']**2
ds

   Hours studied(x)  Score(y)  x-x_mean  y-y_mean  x_diff*y_diff  x_diff**2
0                 1         2      -2.0      -3.0            6.0        4.0
1                 2         3      -1.0      -2.0            2.0        1.0
2                 3         5       0.0       0.0            0.0        0.0
3                 4         7       1.0       2.0            2.0        1.0
4                 5         8       2.0       3.0            6.0        4.0

In [9]:
m=(ds['x_diff*y_diff'].sum())/ds['x_diff**2'].sum()
m

1.6

In [10]:
b=y_mean-m*x_mean
b

0.1999999999999993

In [12]:
print("Uma Maheswara Reddy M \n1/22/FET/BCS/358")
n=int(input("enter Marks:"))
y=m*n+b
print("score to be gained :",y)

Uma Maheswara Reddy M
1/22/FET/BCS/358
score to be gained : 9.8